@charset "utf-8";
.header{
	height:500px;
	width: 1000px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color:;}
}

.p2{
	width:1000px;
	height:150px;
	margin:0 auto;
	text-align:center;
	background-color:#0FF;
	list-style:none;
}
.album{list-style:none;
	}
.album li{
	float:left;
	padding:20px 20px;
	}
