@charset "utf-8";
.container{
	column-width: 250px;
	-webkit-column-width:250px;
	-webkit-column-gap:5px;
	column-gap:5px;
	}/* CSS Document */

.container div{
	width:250px;
	margin:5px 0;
	}
.container p{
	text-align:center;
	}